Binaries
Binaries/*
Plugins/*/Binaries/*
Plugins/*/Intermediate/*
DerivedDataCache
DerivedDataCache/*
Intermediate
Intermediate/*
Saved
Saved/*
Build
Build/*

.vscode
.vsconfig
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.sln.DotSettings.user
*.suo
*.xcodeproj
*.xcworkspace